@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

/* ================================
  GENERAL STYLES
================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
  }

   /* ===============================
    MAIN STYLES
  =============================== */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: #111E2F;
  }

  a.github {
    text-decoration: none;
    color: #111E2F;
  }

  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Search box */
  section > form {
    background-color: #F5F8FD;
    padding: 10px 15px;
    width: 33%;
  }
  section > form > input {
    width: 90%;
  }

  section > form > input, section > form > button {
    border: none;
    background-color: initial;
    color: #858B97;
    outline: none;
  }
  /* Search box ^ */

  section> form > button, section > button i {
    margin-right: 10px;
  }

  section > button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #EBF1FD;
    border: 1px solid #0364be;
    border-radius: 5px;
    color: #0364be;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
    width: 100%;
    height: calc(100vh - 200px);
    /* border: 1px solid red; */
  }

  .main-container > p {
    text-align: center;
    color: #252B4E;
    font-size: 1em;
    font-weight: bold;
    line-height: 2em;
  }

  span {
    color: #949597;
    font-weight: normal;
  }

  body {
    padding: 0 100px;
  }

  /* Pop-up box */
  main ~ div {
    display: none;
    position: absolute;
    z-index: 3;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 25px 25px;
    width: 30%;
    background-color: #ffffff;
    box-shadow: 0px 10px 12px -5px rgba(0,0,0,0.3);
  }

  main ~ div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main ~ div > div > p {
    color: #0159E8;
    padding: 10px 0;
    font-size: 1.5em;
  }

  main ~ div > form > input[type="text"], main ~ div > form > input[type="number"] {
    padding: 10px 15px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #c2c1c1;
    border-radius: 2px;
  }

  main ~ div > form > label {
    font-size: 0.8em;
    /* color: grey; */
  }

  main ~ div > form > button {
    width: 100%;
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 1.2em;
    background-color: #0159E8;
    border: 1px solid #0159E8;
    border-radius: 2px;
    color: #ffffff;
  }
  /* Pop-up box ^ */
